<div class="screen-overlay">
    <div class="screen">
      <div class="ticket">
        <svg class="ticket__glyph" viewBox="0 0 60 74" xmlns="http://www.w3.org/2000/svg">
          <path class="ticket__paper" d="M6 2 H54 V64 L48 70 L42 64 L36 70 L30 64 L24 70 L18 64 L12 70 L6 64 Z" />
          <line class="ticket__rule" x1="15" y1="16" x2="45" y2="16" />
          <line class="ticket__line" x1="15" y1="28" x2="45" y2="28" />
          <line class="ticket__line" x1="15" y1="36" x2="38" y2="36" />
          <line class="ticket__line" x1="15" y1="44" x2="45" y2="44" />
          <rect class="ticket__scan" x="10" y="10" width="40" height="4" />
        </svg>
      </div>
      <p class="screen__text">Preparando la página</p>
    </div>
  </div>