.resumen{
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    position: relative;
    width: 250px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
        width: 100%;
        font-size: 32px;
    }
    .eye-show{
        position: absolute;
        top: 50px;
        right: 20px;
    }
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div {
            display: inline;
        }
        div:last-child {
            font-weight: 500;
        }
    }
}
.daily {
    padding: 20px;
    color: black;
    border-radius: 10px;
    position: relative;
    height: 100px;
    text-align: center;
    cursor:pointer;
    .main {
        flex: 1;
    }
    .title {
        text-transform: capitalize;
    }
    input[type="checkbox"]{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .content {
        div {
            display: inline;
            font-weight: 500;
            font-size: 30px;
        }
    }
}

.list {
    color: black;
    border: 1px solid;
    .main , .content {
        display: flex;
    }
    .main {
        /* gap: 20px; */
        padding: 10px;
    }
    .content {
        flex: 1
    }
    table {
        flex:1;
        td {
            padding: 5px 10px;
            /* width: 100% */
        }
    }
}
.grid {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 20px;
    border-radius:10px;
    width: 250px;
    table{
        width:100%
    }
    .title {
        width: 100%;
        font-weight:bolder;
        font-size: 32px;
    }
    tr {
        display: flex;
        justify-content: space-between;
        /* td {
        } */
    }
    tr:last-child{
        justify-content: end;
        margin-top:10px;
        margin-bottom:-10px
    }
    .date{
        flex:1fr;
        justify-content: space-between;
        font-weight: bolder;
    }
}
.selectCard{
    background-color: var(--neutral-2-color);
    transition: background .4s;
}
.normal{
    background-color: white;
    transition: background .4s;
}