@if (typo == "resumen"){
    <div class="resumen">
        <section class="title"><b>ENERO</b></section>
        <button class="eye-show">
            ojo
        </button>
        <section class="content">
            <div>
                <span>Ganancias</span>
            </div>
            <div>
                <span>S/. 1700.50</span>
            </div>
        </section>
    </div>
}
@else if (typo == "daily"){
    <div class="daily">
        <div class="main">
            <section class="title">ceviche</section>
            <input type="checkbox">
            <section class="content">
                <div>
                    <span>S/. 50</span>
                </div>
            </section>
        </div>
    </div>
}
@else {
    <div>default</div>
}