@if (typo == "resumen"){
    <div class="resumen">
        <section class="title"><b>ENERO</b></section>
        <button class="eye-show">
            ojo
        </button>
        <section class="content">
            <div>
                <span>Ganancias</span>
            </div>
            <div>
                <span>S/. 1700.50</span>
            </div>
        </section>
    </div>
}
@else if (typo == "daily"){
    <div class="daily" [ngClass]="tData.select? 'selectCard': 'normal'" (click)="clickable(input_of_card,tData,'card')" id="{{tData.id}}">
        <div class="main">
            <section class="title">{{tData.value}}</section>
            <input type="checkbox" #input_of_card (click)="$event.stopPropagation();clickable(input_of_card,tData)" [checked]="tData.select">
            <section class="content">
                <div>
                    <span>S/. {{this.tData.price}}</span>
                </div>
            </section>
        </div>
    </div>
}
@else {
    <div>default</div>
}