@if (typo == "resumen"){
    <div class="main">
        <section class="title"><b>ENERO</b></section>
        <button class="eye-show">
            ojo
        </button>
        <section class="content">
            <div>
                <span>Ganancias</span>
            </div>
            <div>
                <span>S/. 1700.50</span>
            </div>
        </section>
    </div>
}
@else if (typo == "daily"){
    <div class="main">
        <section class="title"><b>ENERO</b></section>
        <button class="eye-show">
            ojo
        </button>
        <section class="content">
            <div>
                <span>Ganancias</span>
            </div>
            <div>
                <span>S/. 1700.50</span>
            </div>
        </section>
    </div>
}
@else {
    <div>default</div>
}