<div class="main-container">
    <header>
        <div id="searchBar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Buscar Boletas">
        </div>
        <button [routerLink]="['new']">+ Nueva</button>
    </header>
    <section class="content">
        <app-grid-list [sectionTitle]="'Hoy'" [data]="[]" [form]="'grid'"></app-grid-list>
        <app-grid-list [sectionTitle]="'Ayer'" [data]="[]" [form]="'list'"></app-grid-list>
        <app-grid-list [sectionTitle]="'Antes'" [data]="[]" [form]="'list'"></app-grid-list>
    </section>
</div>
