<div class="main-container">
    <header>
        <button routerLink=".."><</button>
        <!-- [routerLink]="['new']" -->
        <div id="searchBar">
            <span>Nueva Boleta</span>
        </div>
    </header>
    <section class="content">
        <div class="laderBar">
            <div class="date">
                <i class="fa fa-calendar"></i> __ / __ / __
            </div>
            <form>
                <section>
                    <div>
                        <label for="">
                            <i>X</i> DNI:
                        </label>
                    </div>
                    <div class="result">
                        <div>
                            <span>
                                <i class="fa fa-id-card"></i>
                                <input type="text" placeholder="Documento" maxlength="8" (input)="onInputDocument(document.value)" #document>
                            </span>
                            <button type="button" (click)="addFavorite()"><i class="fa fa-tag"></i></button>
                        </div>
                        <span>
                            <i class="fa fa-user"></i>
                            <input type="text" placeholder="Cliente (Opcional)" class="client" #client_name>
                        </span>
                        <span>
                            <i class="fa fa-house"></i>
                            <input type="text" placeholder="Direccion (Opcional)" class="address" #client_address>
                        </span>
                    </div>
                </section>

                <section>
                    <div>
                        <p>
                            <i>X</i> IGV:
                        </p>
                    </div>
    
                    <div class="checks">
                        <label for="10">
                            <input type="radio" name="igv" id="10">
                            10%
                        </label>
                        <label for="18">
                            <input type="radio" name="igv" id="18">
                            18%
                        </label>
                    </div>
                </section>

                <section>
                    <div>
                        <label for="">
                            <i>X</i> Items:
                        </label>
                        <button>Nuevo</button>
                    </div>
    
                    <div class="result">
                        <span>
                            <i class="fa-brands fa-product-hunt"></i>
                            <input type="text" placeholder="---- ---- --">
                        </span>
                    </div>
                </section>
            </form>
        </div>
        <div class="data">
            <table>
                <caption>
                    <span> <i class="fa fa-bag-shopping"></i> Productos</span>
                </caption>
                <thead>
                    <tr>
                        <th>Cant.</th>
                        <th>Cod.</th>
                        <th>Descripcion</th>
                        <th>P. Uni.</th>
                        <th>P. Tot.</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @for (item of [].constructor(2); track $index) {
                    <tr>
                        <td><input type="text" value="1"></td>
                        <td><input type="text" value="1"></td>
                        <td><input type="text" value="Ceviche mixto"></td>
                        <td><input type="text" value="22.00"></td>
                        <td><input type="text" value="22.00"></td>
                        <td><button><i class="fa fa-edit"></i></button> <button><i class="fa fa-trash"></i></button></td>
                    </tr>
                    }
                    <!-- button add -->
                    <tr>
                        <td colspan="all" class="addItem" (click)="dialog.showModal()">
                            <!-- <button >Añadir item</button> -->
                            Añadir item
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <span>Ope. gravada</span>
                        <td>20.00</td>
                    </tr>
                    <tr>
                        <span>IGV</span>
                        <td>2.00</td>
                    </tr>
                    <tr>
                        <span>Importe Total</span>
                        <td>22.00</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
</div>

<dialog closedby="any" #dialog>
    <form  method="dialog">
        <button><i class="fa fa-x"></i></button>
    </form>
    <article>
        <section class="header">
            <div>
                <span>
                    <i class="fa fa-box"></i>
                    <input type="text" placeholder="Producto" [formControl]="p_name" (input)="firstLetter($event)">
                </span>
            </div>
            <div>
                <span>
                    <input type="text" name="" id="" placeholder="Código" tabindex="-1">
                </span>
            </div>
        </section>
        <section class="body">
            <div>
                <label for="price">
                    Precio
                    <span>
                        S/.
                        <input type="text" class="price" placeholder="00.00" [formControl]="p_price" >
                    </span>
                </label>
                <span>
                    <input placeholder="Descripcion... (Opcional)" [formControl]="p_description" (input)="firstLetter($event)">
                </span>
            </div>
        </section>
        <!-- <section class="more">
            <div>
                <label for="variants">
                    Variantes
                    <input type="checkbox" name="variante" id="variants">
                </label>
            </div>
            <section class="body_more">
                <div class="items">
                    @for (item of [].constructor(2); track $index) {
                        <section class="item">
                            <span>
                                <input type="text" placeholder="----">
                            </span>
                            <span>
                                S/.
                                <input type="text" class="price" placeholder="00.00">
                            </span>
                            <span>
                                <input type="text" placeholder="Descripcion...">
                            </span>
                        </section>
                    }
                </div>
                <button><i class="fa fa-plus"></i></button>
            </section>
        </section> -->
        <section class="buttton">
            <button (click)="addItem()">
                Crear
            </button>
        </section>
    </article>
</dialog>
