<div class="main-container">
    <header>
        <button routerLink=".."><</button>
        <!-- [routerLink]="['new']" -->
        <div id="searchBar">
            <span>Nueva Boleta</span>
        </div>
    </header>
    <section class="content">
        <div class="laderBar">
            <div class="date">
                <i>X</i> __ / __ / __
            </div>
            <form>
                <section>
                    <div>
                        <label for="">
                            <i>X</i> DNI:
                        </label>
                    </div>
                    <div class="result">
                        <div>
                            <input type="text" placeholder="Numero--">
                            <button>S</button>
                        </div>
                        <input type="text" placeholder="Nombre--">
                        <input type="text" placeholder="Direccion--">
                    </div>
                </section>

                <section>
                    <div>
                        <span>
                            <i>X</i> IGV:
                        </span>
                    </div>
    
                    <div class="checks">
                        <label for="">
                            <input type="checkbox" placeholder="Nombre--">
                            10%
                        </label>
                        <label for="">
                            <input type="checkbox" placeholder="Direccion--">
                            18%
                        </label>
                    </div>
                </section>

                <section>
                    <div>
                        <label for="">
                            <i>X</i> Items:
                        </label>
                        <button>Nuevo</button>
                    </div>
    
                    <div class="result">
                        <input type="text" placeholder="Codigo ---- ---- --">
                    </div>
                </section>
            </form>
        </div>
        <div class="data">
            <table>
                <caption>
                    <span> <i>X</i> Productos</span>
                </caption>
                <thead>
                    <tr>
                        <th>Cant.</th>
                        <th>Cod.</th>
                        <th>Descripcion</th>
                        <th>P. Uni.</th>
                        <th>P. Tot.</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @for (item of [].constructor(2); track $index) {
                    <tr>
                        <td><input type="text" value="1"></td>
                        <td><input type="text" value="1"></td>
                        <td><input type="text" value="Ceviche mixto"></td>
                        <td><input type="text" value="22.00"></td>
                        <td><input type="text" value="22.00"></td>
                        <td><button>X</button> <button>X</button></td>
                    </tr>
                    }
                    <!-- button add -->
                    <tr>
                        <td colspan="all" class="addItem" (click)="addItem()">
                            <!-- <button >Añadir item</button> -->
                            Añadir item
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <span>Ope. gravada</span>
                        <td>20.00</td>
                    </tr>
                    <tr>
                        <span>IGV</span>
                        <td>2.00</td>
                    </tr>
                    <tr>
                        <span>Importe Total</span>
                        <td>22.00</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
</div>
