<div class="main" [style.background-color]="background" [style.color]="color">
  <div class="content">
    @if (titleSection || anyOption) {
      <section class="header">
        @if (titleSection) {
          <div class="title">
            @if (titleSection){
              <h2>{{ title }}</h2>
            }
            @else {
              <p>Default Title to Section</p>
            }
          </div>
        }
        @if (anyOption){
          <div class="anyOption">
            <button>{{ optionButton }}</button>
          </div>
        }
      </section>
    }
    <section class="filter-bars" *ngIf="searchbar">
      <input type="text" placeholder="Busqueda por defecto" />
    </section>
    <main class="data">
      <!-- tabla de datos -->
      <ng-content select="section[id=dataTable]"></ng-content>
      <!-- otra data -->
      <ng-content select="section[id='otherData']"></ng-content>
      <!-- section de resumen-->
      <ng-content select="section[id='resumenData']"></ng-content>
    </main>
  </div>
</div>
