.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - (50px + 40px + 1.5rem)); /* header + footer + padding-top-page */
}
header {
    display: flex;
    justify-content: space-around;
    align-items:center;
    gap: 50px;
    div{
        flex: 1;
        align-content: center;
        input {
            width: 100%;
        }
    button:last-child {
        width: 0px;
        display:none;
        transition: width .3s ease;
        padding:0;
        &.show{
            width: 100px;
            /* display:block; */
        }
    }

    }
}
button {
    cursor: pointer;
}

#searchBar {
    border:1px solid black;
    border-radius: 20px;
    padding: 10px ;
    display:grid;
    grid-template-columns: auto 1fr;
    gap:5px;
    input {
        border:none;
        outline:none
    }
}
.dark {
    color: white;
    background-color: black
}
.content {
    background-color: var(--neutral-1-color);
    padding: 20px;
    flex: 1;
    border-radius: 10px;
    display: flex;
    gap:20px;
    flex-direction: column;
    header{
        justify-content: space-between;
        div {
            display: flex;
            gap: 20px;
            justify-content: center;
        }
        button{
            border-radius: 20px;
            border: 1px solid;
            padding: 8px 16px;
            align-content: center;
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        tr th{
            text-align: left;
        }
        th, td {
            /* border: 1px solid black; */
            padding: 5px 10px
        }
        thead tr{
            border-bottom: 2px solid black;
        }
        tbody tr:nth-child(odd){
            background-color: orange;
        }
        tbody tr {
            border-top: 1px solid black;
        }
        tbody td.center {
            text-align: center;
        }
        tbody tr:not(.error) td:last-child {
            display:flex;
            justify-content: end;
            gap: 8px;
            button{
                border-radius: 20px;
                border: none;
                padding: 5px 10px;
                align-content: center;
            }
        }
    }
}