<section class="content">
  <div class="title">
    <h1>{{ titlePage }}</h1>
  </div>
  <main>
    <section class="section-resumen">
      <div class="section-card dark" data-pad="20">
        <section class="c-width gap" data-gap="20">
          @for (item of [].constructor(5); track $index) {
            <app-card [typo]="'resumen'" />
          }
        </section>
      </div>
    </section>
    <section class="section-data">
      <div class="section-card light" data-pad="20">
        <section class="c-height">
          <p class="title-separate">ultimos movimientos</p>
          <ul class="movimientos">
            @for ( mov of [].constructor(12); track $index) {
              <li class="movimiento">
                <span>Juan Perez</span>
                <span>S/. 80.00</span>
              </li>
            }
          </ul>
        </section>
      </div>
      <div class="section-card dark" id="daily" data-pad="20">
        <section class="header-section">
          <div><button>*</button></div>
          <div class="date"><p>19/04/2025</p></div>
          <div><button>+</button></div>
        </section>
        <section class="content-section c-height">
          <div class="movimientos">
            @for (item of [].constructor(15); track $index) {
              <app-card [typo]="'daily'"/>
            }
          </div>
        </section>
        <!-- <section class="footer-section"></section> -->
      </div>
    </section>
  </main>
</section>