.main-container {
  display: flex;
  height: 100vh;
}
::ng-deep .content:has(router-outlet + app-home) {
  height: 100% !important;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}
.main {
  flex: 1;
  margin-top: 50px;
  /* display: flex; */
  /* flex-direction: row; */
  /* height: calc(100vh - 50px); */
}
.content {
  display: flex;
  min-height: 100%;
  /* flex-grow: 1; */
  flex-direction: column;
  /* min-height: 100%; */
  margin-left: 268px;
  transition: all var(--time-animation);
  /* width: calc(100% - 258px); */
  /* overflow-y: scroll; */
}
.content:not(.sidebarExpanded) {
  margin-left: 70px;
  /* width: calc(100% - 70px); */
}
.pages {
  /* width: 100%; */
  padding: 1.5rem 1.7rem 0;
  flex: 1;
  height: calc(100% - 40px); /*40px -> footer*/
  overflow: hidden;
  /* display: flex; */
  /* flex-direction: column; */
}
.content::-webkit-scrollbar {
  -webkit-appearance: none;
}
.content::-webkit-scrollbar:vertical {
  width: 8px;
}
.content::-webkit-scrollbar:horizontal {
  width: 0px;
  display: none;
}
.content::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 20px;
  border: 2px solid background;
}
